accelerate
calflops
controlnet-aux
decord
diffusers
einops
ftfy
gdown
imageio
imageio-ffmpeg
moviepy
opencv-python
opencv-python-headless
rtmlib
segment-anything
torch
torchvision
transformers
tyro
zmq
